.userContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    max-height: 100vh;
    
}
.user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 20px;
}